body {
    font-family: Arial, sans-serif;
    background-color: #000;
    margin: 0;
    padding: 20px;
    width: 300px;
}

.popup-wrapper {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 20px;
}

h3 {
    color: #555;
    font-size: 16px;
    margin-bottom: -10px;
}

h6 {
    color: #777;
    font-size: 12px;
    margin-bottom: 20px;
}

.extract-button {
    
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
    transition: background-color 0.1s;
}

.extract-button:hover {
    background-color: black;
    color: white;
}